@import url("https://fonts.googleapis.com/css2family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #9a7f97;
    
    color: black;
    font-size: 20px;
    margin-left: 2rem;
    padding: 0 35px;
}
h1{
    text-align:center;
}
#button{
    background-color: #d38bcc;
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid #8b0b8b;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    }
    
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .nav-links{
    flex:1;
    text-align:right;
    }
    
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 13px  
    }
    
    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #DFA3F9;
        display: block;
        margin: auto;
        transition:0.5s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }
